name: CI/CD Pipeline for Docker App

on:
  push:
    branches:
      - main  

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and push Docker image
      run: |
        docker build -t ${{ secrets.DOCKER_USERNAME }}/app:latest -f ./Network-CA1/Dockerfile ./Network-CA1
        docker push ${{ secrets.DOCKER_USERNAME }}/app:latest

  deploy:
    needs: build
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up SSH
      uses: webfactory/ssh-agent@v0.7.0
      with:
        ssh-private-key: ${{ secrets.EC2_PRIVATE_KEY }}

    - name: Deploy Docker container to EC2
      run: |
        ssh -o StrictHostKeyChecking=no ubuntu@34.243.146.197 \
        'sudo docker pull ${{ secrets.DOCKER_USERNAME }}/app:latest && \
         sudo docker stop app || true && \
         sudo docker rm app || true && \
         sudo docker run -d --name app -p 5000:5000 ${{ secrets.DOCKER_USERNAME }}/app:latest'
